* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    background: #1a1b2f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a {  
    margin-top: 200px;
    padding: 25px 150px;
    transition:  0.5s;
    background-image: linear-gradient(#3300cc, #6807f9);
    /* background-color: #333333; */
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    font-size: 3em;
    box-shadow: 0px 0px 5px rgb(24, 24, 24);
}

.btn a::before {
    content: "";
    background-image: linear-gradient(
        -80deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    position: absolute;
    top: 0;
    left: -100%;
    width: 80px;
    height: 100%;
    transform: skewX(-20deg);
    transition: 0.6s ease;
}

.btn a:hover::before {
    left: 110%;
}